#page-content-wrapper {
  min-width: 0;
  width: 100%;
  background: #f5f5fb;
  .profile-edit {
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 100%;
    }
    h2 {
      display: none;
      position: absolute;
      margin-top: -28%;
      margin-left: 48%;
      @include media-breakpoint-down(md) {
        margin-top: -22%;
        margin-left: 50%;
      }
    }
    &:hover {
      img {
        filter: brightness(50%);
      }
      h2 {
        display: block;
      }
    }
  }
  .btn-outline-danger:hover {
    background-color: #e7dedd;
  }
  .page-search {
    background: #ffffff;
  }
  .page-nav-profile {
    a {
      color: rgba(88, 87, 87, 0.733);
      &.active {
        color: #31d196;
        border-bottom: 1px solid #31d196;
      }
      @include media-breakpoint-down(md) {
        &.active {
          color: #31d196;
          border-bottom: 0;
        }
      }
    }
  }
  .page-detail-profile {
    @include media-breakpoint-up(md) {
      padding-bottom: 200px;
    }
  }
}
